$color: white;
/*color de fuente*/
$medida: 1.2rem;
/*es el tamaño de varios que ocupo mas*/
$fondo: rgb(30, 30, 34);
/*color de fondo*/
$rem: 1rem;
/*tamaño general, vale para padding, margin, fuentes, etc */
$shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
/*los bordes de todas mis images para darle luz y volumen*/